    /* 路径 */
    
    .navshow {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        background: #F5F5F5;
    }
    
    .inner {
        width: 1225px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .navshow a {
        color: #666;
    }
    
    .navshow span {
        margin: 0 10px 0 10px;
    }
    /* 路径 */
    /* 商品详情↓ */
    /* --重置-- */
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    figure,
    form,
    blockquote {
        margin: 0;
    }
    
    html,
    button,
    input,
    select,
    textarea {
        font-family: "PingFang SC", "PingHei", "STHeitiSC-Light", "Myriad Set Pro", "Lucida Grande", "Helvetica Neue", "Helvetica", "microsoft yahei", "SimHei", "tahoma", "Arial", "Verdana", "sans-serif";
    }
    
    input {
        line-height: normal;
    }
    
    button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0/* 3 */
        ;
    }
    
    body,
    textarea,
    input,
    button,
    select,
    keygen,
    legend {
        outline: 0;
    }
    /* ---- */
    
    .main {
        width: 100%;
        background: #fff;
        padding: 20px 0 0 0;
    }
    
    .inner {
        width: 1225px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .shopping-show {
        float: left;
        width: 500px;
        position: relative;
    }
    
    .shopping-big {
        width: 500px;
        height: 500px;
        border: 1px solid #F0F0F0;
        position: relative;
        display: table;
        z-index: 1;
    }
    
    .shopping-big a {
        width: 500px;
        height: 500px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    .shopping-big .ks-imagezoom-wrap {
        margin: -1px 0 0 -1px;
    }
    
    .shopping-big .ks-imagezoom-wrap img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
    
    .shopping-big img {
        width: 100%;
        height: 100%;
    }
    
    .shopping-big .microscope {
        width: 315px;
        height: 315px;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(84, 194, 255, 0.30);
        display: none;
    }
    
    .tm-video-play,
    .tm-video-stop {
        z-index: auto;
    }
    
    .tm-video-play {
        bottom: 10px;
        left: 10px;
        background: url(/Public/images/show_big.png) no-repeat;
        width: 45px;
        height: 32px;
        display: none;
    }
    
    .tm-video-play,
    .tm-video-stop {
        font-style: normal;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
    }
    
    .tm-video-play,
    .tm-video-stop {
        z-index: auto;
    }
    
    .tm-video-stop {
        width: 20px;
        height: 20px;
        top: 10px;
        right: 10px;
        background: url(/Public/images/show_big1.png) no-repeat;
        display: none;
    }
    
    .tm-video-play,
    .tm-video-stop {
        font-style: normal;
        cursor: pointer;
        z-index: 1000;
        position: absolute;
    }
    
    .tm-video-box {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
    }
    
    .videoClose {
        cursor: pointer;
        background-image: url(/Public/images/videoClose.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 99999;
    }
    
    audio,
    canvas,
    progress,
    video {
        display: inline-block;
        vertical-align: baseline;
        *display: inline;
        *zoom: 1;
    }
    
    .shopping-show .magnifier {
        width: 500px;
        height: 500px;
        position: absolute;
        right: -510px;
        top: 0;
        z-index: 1000;
        overflow: hidden;
        display: none;
        border: 1px dashed #333;
    }
    
    .shopping-show .magnifier img {
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .shopping-list {
        width: 500px;
        height: 80px;
        padding: 20px 0 0 0;
    }
    
    .shopping-list .btn-left {
        width: 18px;
        height: 30px;
        float: left;
        margin-top: 20px;
        cursor: pointer;
    }
    
    .shopping-view {
        width: 430px;
        height: 82px;
        overflow: hidden;
        float: left;
        position: relative;
        margin-left: 22px;
    }
    
    .shopping-view ul {
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .shopping-view ul li {
        float: left;
        width: 80px;
        height: 80px;
        border: 1px solid #F0F0F0;
        margin: 0 4px 0 0;
    }
    
    .shopping-view ul li img {
        width: 100%;
        height: 100%;
    }
    
    .shopping-list .btn-right {
        width: 18px;
        height: 30px;
        float: right;
        margin-top: 20px;
        cursor: pointer;
    }
    /* 右侧详情↓ */
    
    .shopping-description {
        float: left;
        width: 690px;
        padding: 0 0 40px 35px;
    }
    
    .shopping-description h3 {
        font-size: 20px;
        color: #333;
        line-height: 25px;
        font-weight: normal;
    }
    
    .shopping-description p {
        font-size: 12px;
        color: #CC0000;
        padding: 10px 0 15px 0;
        line-height: 15px;
    }
    
    .shopping-description .timelimit {
        width: 690px;
        height: 40px;
        background: #D51B44;
    }
    
    .shopping-description .timelimit .timelimit-btn {
        width: 80px;
        height: 25px;
        float: left;
        background: #FFEF57;
        border-radius: 100px;
        margin: 8px 21px 7px 20px;
        font-size: 14px;
        color: #D51B44;
        text-align: center;
        line-height: 25px;
    }
    
    .shopping-description .timelimit .limittime {
        float: left;
        font-size: 12px;
        color: #ffffff;
        line-height: 40px
    }
    
    .shopping-description .promotion {
        padding: 15px 0 28px 20px;
        border-top: 1px dashed #E0E0E0;
        background: #F9F9FA;
    }
    
    .shopping-description .promotion .promotion-price {
        line-height: 30px;
    }
    
    .presaleShow {
        display: none;
    }
    
    .shopping-description .promotion .gifts {
        padding: 20px 0 0 0;
        width: 100%;
    }
    
    .shopping-description .promotion .gifts-left {
        float: left;
        font-size: 12px;
        color: #999999;
    }
    
    .shopping-description .promotion .gifts-left p {
        background: #007ABE;
        color: #FFFFFF;
        text-align: center;
        width: 48px;
        height: 20px;
        padding: 0;
        line-height: 20px;
        margin: 10px 0 0 0;
    }
    
    .shopping-description .promotion .gifts-right {
        float: left;
        margin: 0 0 0 50px;
        width: 572px;
    }
    
    .shopping-description .promotion .kind {
        float: left;
        margin: 0 22px 20px 0;
    }
    
    .shopping-description .promotion .kind .kind-img {
        float: left;
        width: 60px;
        height: 60px;
        border: 1px solid #E0E0E0;
        margin: 0 12px 0 0;
        position: relative;
    }
    
    .shopping-description .promotion .kind .kind-img img {
        width: 100%;
    }
    
    .shopping-description .promotion .kind .kind-img .zhanshi {
        width: 300px;
        height: 300px;
        position: absolute;
        right: -305px;
        top: 0;
        display: none;
        z-index: 100;
    }
    
    .shopping-description .promotion .kind .kind-img img {
        width: 100%;
    }
    
    .shopping-description .promotion .kind .kind-title {
        float: left;
    }
    
    .shopping-description .promotion .kind .kind-title p {
        font-size: 12px;
        color: #333333;
        padding: 0;
        line-height: 18px;
    }
    
    .shopping-description .promotion .kind .kind-title p.num {
        color: #999999;
    }
    
    .shopping-description .promotion .kind .kind-title p {
        font-size: 12px;
        color: #333333;
        padding: 0;
        line-height: 18px;
    }
    
    .shopping-description .promotion .integral .integral-left {
        width: 48px;
        height: 20px;
        float: left;
        background: #007ABE;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        color: #FFFFFF;
        margin-right: 52px;
    }
    
    .shopping-description .promotion .integral .integral-right {
        float: left;
        font-size: 12px;
        color: #333333;
        line-height: 20px;
    }
    
    .shopping-description .promotion .integral .integral-right span {
        color: #CC0000;
    }
    
    .pointDiv {
        position: relative;
        top: -5px;
        left: 8px;
    }
    
    .shopping-description .evaluation {
        padding: 5px 0;
        border-top: 1px dashed #E0E0E0;
        border-bottom: 1px dashed #E0E0E0;
        width: 100%;
    }
    
    .shopping-description .evaluation .client {
        float: left;
        color: #999999;
        font-size: 12px;
        padding: 0 40px;
        line-height: 26px;
    }
    
    .shopping-description .evaluation .client span {
        margin: 0 0 0 10px;
    }
    
    .shopping-description .evaluation .client span img {
        margin: 0 3px;
        width: 12px;
        vertical-align: middle;
    }
    
    .shopping-description .evaluation .hotcakes {
        float: left;
        font-size: 12px;
        color: #999999;
        padding: 0 85px;
        border-left: 1px dashed #E0E0E0;
        line-height: 26px;
    }
    
    .shopping-description .evaluation .hotcakes span {
        color: #CC0000;
        margin: 0 0 0 5px;
    }
    
    .shopping-description .typesof {
        width: 100%;
    }
    
    #ajaxShowSkus {
        margin-top: 20px;
    }
    
    .shopping-description .typesof .colortype {
        width: 100%;
        padding: 14px 0 0 0;
    }
    
    .shopping-description .typesof .colortype .color-title {
        width: auto;
        float: left;
        font-size: 12px;
        color: #999999;
        margin: 0 50px 0 20px;
        line-height: 32px;
        cursor: pointer;
    }
    
    .shopping-description .typesof .colortype span {
        float: left;
        padding: 0 10px;
        height: 30px;
        border: 1px solid #E0E0E0;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color: #333333;
        margin: 0 19px 10px 0;
        cursor: pointer;
    }
    
    .shopping-description .typesof .optionnums {
        padding: 14px 0 0 0;
        width: 100%;
    }
    
    .set {
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px !important;
    }
    
    .shopping-description .typesof .optionnums .optionnums-title {
        float: left;
        font-size: 12px;
        color: #999999;
        margin: 0 74px 0 20px;
        line-height: 37px;
    }
    
    .shopping-description .typesof .optionnums .optionnums-add {
        float: left;
    }
    
    .shopping-description .typesof .optionnums .optionnums-add div {
        width: 100px;
        height: 35px;
        border: 1px solid #E0E0E0;
    }
    
    .shopping-description .typesof .optionnums .optionnums-add div span {
        float: left;
        width: 30px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
    }
    
    .shopping-description .typesof .optionnums .optionnums-add div input {
        float: left;
        width: 40px;
        height: 35px;
        border: 0;
        outline: none;
        text-align: center;
        line-height: 35px;
    }
    
    .shopping-description .typesof .optionnums .optionnums-add div span {
        float: left;
        width: 30px;
        height: 35px;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
    }
    
    .shopping-description .typesof .staging {
        padding: 14px 0 0 0;
        width: 100%;
    }
    
    .shopping-description .typesof .staging .stagingpotion {
        float: left;
    }
    
    .shopping-description .typesof .staging .stagingpotion .staging-but {
        padding: 20px 0 0 0;
    }
    
    .shopping-description .typesof .staging .stagingpotion .staging-but a {
        float: left;
        width: 180px;
        height: 45px;
        background: #CC0000;
        margin: 0 15px 0 0;
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        color: #fff;
    }
    
    .shopping-description .typesof .staging .stagingpotion .staging-but a.color {
        background: #007ABE;
        display: none;
    }
    /* 右侧详情↑ */
    /* 商品详情↑ */
    /* 加入购物车的页面 */
    
    .gouwu {
        z-index: 500;
        position: absolute;
        top: calc(50% - 75PX);
        left: calc(50% - 250px);
        width: 500px;
        height: 250px;
        border: 1px solid orange;
        background-color: #F0F0F0;
        opacity: 0.9;
        display: none;
    }
    
    .gouwu h3 {
        font-family: 楷体;
        position: relative;
        font-size: 50px;
        padding: 5px 0 0 5px
    }
    
    .guangbi {
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        padding: 5px 7px;
        border: 1px dashed #ccc;
        background-color: #fff;
        right: 5px;
        top: 5px
    }
    
    .gouwu p {
        position: absolute;
        bottom: 12px;
        text-align: center;
        width: 100%;
    }
    
    .gouwu p span {
        cursor: pointer;
        width: 50%;
        margin: 15px;
        border: #999999 1px dashed;
        padding: 5px;
    }
    
    .jixu a {
        color: #E0E0E0
    }
    
    .jixu {
        background-color: #007ABE
    }
    
    .jsrmb {
        background-color: red
    }
    
    .jsrmb a {
        color: #fff
    }